branches/actorsproject-rm/contrib/actorsproject/java/modelcompiler/xdf/xdf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="XDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Instance"/>
        <xs:element maxOccurs="unbounded" ref="Connection"/>
        <xs:element maxOccurs="unbounded" ref="Note"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Instance">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="Note"/>
          <xs:element ref="Class"/>
          <xs:element ref="Parameter"/>
        </xs:choice>
        <xs:element ref="Actor"/>
        <xs:element ref="Attribute"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Class">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Expr"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Import"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="Decl"/>
          <xs:element ref="Port"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" ref="Action"/>
        <xs:element ref="Note"/>
        <xs:element minOccurs="0" ref="Schedule"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QID"/>
      </xs:sequence>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="text-begin-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-begin-line" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-line" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Port">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Type"/>
      </xs:sequence>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Action">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="QID"/>
        <xs:element minOccurs="0" ref="Input"/>
        <xs:element minOccurs="0" ref="Output"/>
        <xs:choice minOccurs="0">
          <xs:element ref="Guards"/>
          <xs:element ref="Stmt"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="text-begin-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-begin-line" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-line" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Input">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Decl"/>
      </xs:sequence>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="port" use="required" type="xs:NCName"/>
      <xs:attribute name="text-begin-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-begin-line" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-line" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Output">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Expr"/>
      </xs:sequence>
      <xs:attribute name="port" use="required" type="xs:NCName"/>
      <xs:attribute name="text-begin-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-begin-line" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-line" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guards">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Expr"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Expr"/>
        <xs:element ref="Args"/>
      </xs:sequence>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="text-begin-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-begin-line" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-line" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Transition"/>
      </xs:sequence>
      <xs:attribute name="initial-state" use="required" type="xs:NCName"/>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="text-begin-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-begin-line" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-line" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ActionTags"/>
      </xs:sequence>
      <xs:attribute name="from" use="required" type="xs:NCName"/>
      <xs:attribute name="text-begin-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-begin-line" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-col" use="required" type="xs:integer"/>
      <xs:attribute name="text-end-line" use="required" type="xs:integer"/>
      <xs:attribute name="to" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QID"/>
      </xs:sequence>
      <xs:attribute name="text-begin-col" use="required"/>
      <xs:attribute name="text-begin-line" use="required"/>
      <xs:attribute name="text-end-col" use="required"/>
      <xs:attribute name="text-end-line" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Attribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Expr"/>
      </xs:sequence>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connection">
    <xs:complexType>
      <xs:attribute name="dst" use="required"/>
      <xs:attribute name="dst-port" use="required" type="xs:NCName"/>
      <xs:attribute name="src" use="required"/>
      <xs:attribute name="src-port" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Note">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element ref="Expr"/>
        <xs:element ref="Type"/>
      </xs:choice>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="name" type="xs:NCName"/>
      <xs:attribute name="value"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Args"/>
        <xs:element minOccurs="0" ref="Op"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Expr"/>
      </xs:sequence>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="literal-kind" type="xs:NCName"/>
      <xs:attribute name="name"/>
      <xs:attribute name="text-begin-col" type="xs:integer"/>
      <xs:attribute name="text-begin-line" type="xs:integer"/>
      <xs:attribute name="text-end-col" type="xs:integer"/>
      <xs:attribute name="text-end-line" type="xs:integer"/>
      <xs:attribute name="value"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Op">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="QID">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ID"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ID">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Decl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Type"/>
        <xs:element minOccurs="0" ref="Expr"/>
      </xs:sequence>
      <xs:attribute name="assignable" type="xs:NCName"/>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="text-begin-col"/>
      <xs:attribute name="text-begin-line"/>
      <xs:attribute name="text-end-col" type="xs:integer"/>
      <xs:attribute name="text-end-line" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Entry"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Expr"/>
      </xs:sequence>
      <xs:attribute name="kind" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Args">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Expr"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
